asteroid-filterbanks==0.4.0
einops==0.6.0
huggingface_hub >= 0.13.0
omegaconf==2.3.0
pyannote.core==5.0.0
pyannote.database==5.0.1
pyannote.metrics==3.2.1
pyannote.pipeline==2.3
pytorch_metric_learning==2.1.1
rich==13.3.5
semver==3.0.0
soundfile==0.12.1
speechbrain==0.5.14
tensorboardX==2.6
torch==2.0.0
torch_audiomentations==0.11.0
torchaudio==2.0.1
torchmetrics==0.11.4
pydub==0.25.1
requests==2.26.0
urllib3==1.26.7
fastapi==0.69.0
starlette==0.15.0
librosa==0.10.0
